script(type="text/javascript",src="javascripts/lobby.js")
div#createColumn.col
  div#createButtonRow.row
    button#create
      p Create New Game
  div#createDisplayRow.row
div#joinColumn.col
  div#joinButtonRow.row
    button#join
      p Join Existing Game
  div#joinDisplayRow.row
