script(type="text/javascript",src="javascripts/login.js")
div#logindialog.login.row
  div.login.col
    p Please enter Username
    input#logininput(type='text', name='logininput)
    button#loginbutton
      p Login
